{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver", {
      "root": ["."],
      "alias": {
        "styles": "./styles"
      },
      "cwd": "babelrc"
    }],
    [
      "transform-es2015-modules-commonjs",
      {
        "loose": true,
      }
    ],
    [
      "wrap-in-js", {
        "extensions": ["css$", "scss$"]
      }
    ]
  ],
  "ignore": []
}
