@media (min-width: 768px) {
  #header {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  #header {
    margin-top: 45px;
  }
}

@media (min-width: 1200px) {
  #header {
    margin-top: 120px;
  }
}