@import "responsive";

html, body, #__next, #__next > div {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none !important;
}
  
#layout {
  background: #282c37;
  min-width: 100%;
  min-height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 1rem;
  line-height: 1.5;
  color: #cfd2da
}
  
#wrapper {
  position: relative;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

#wrapper > .content {
  display: flex;
  flex-wrap: wrap;
}

nav > .logo {
  position: relative;
  padding-bottom: 75px;

  span {
    float: left;
    color: #393f4f;
    font-size: 45px;
    cursor: pointer;
    position: absolute;
  }

  span:hover {
    color: #57657d;
  }
}

nav > .menu {
  ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    list-style: none;
    line-height: 1.9rem;

    li {
      padding: 5px 15px;
    }

    li a {
      color: #babdc5;
    }
    li a:hover {
      color: #eff2fa;
    }

    li.root {
      font-size: 80%;
      color: #52596b;
      text-transform: uppercase;
    }
    li.sub {
      border-radius: 0.25rem;
    }
    li.active {
      background-color: #2aabd2;
      a {
        color: black;
      }
    }
  }
  hr {
    margin: 1rem 0 30px;
    border: 0;
    border-top: 1px solid #454a59;
  }
}

